*{
    box-sizing: border-box;
}
.input {
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 40px;
    padding: 1rem 1.5rem;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    box-shadow: inset 0 0 8px #000;
}

.input__box:focus {
    box-shadow: 0 0 8px 1000px rgba(213, 191, 50, 0.3);
    outline: none;
}
.input__submit {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: rgb(213, 191, 50) ;
    color: #fff;
    transition: 0.2s all;
    box-shadow: 0 0 10px #000;
} 

.input__submit:hover {
    opacity: 0.65;
}
.input__submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px #000;
}
.container {
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

 
.todos {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    margin: 15px auto;
    border-radius: 10px;
    width: 75%;
    background-color: #4869f0;
  }
  .todos__heading {
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  
  .todos__single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: #0b6630;
    transition: 0.2s;
  }
  .todos__single:hover {
    box-shadow: 0 0 5px #000;
    transform: scale(1.05);
  }
  .todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
  }
  
  .todos__single--text:focus {
    outline: none;
  }
  
  .icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  

  @media (max-width: 700px) {
    .input {
      width: 95%;
    }
    .todos {
      width: 95%;
      margin-bottom: 1rem;
    }
    .todos__single {
      width: 100%;
    }
    .container {
      width: 95%;
      flex-direction: column;
    }
  }


